$font-main: 'Montserrat', sans-serif;
$font-weight-main: 400;
$text-line-height: 156%;

$page-bg: #F9F6F3;
$text-color: #141508;
$light-text-color: #F9F6F3;
$accent-text-color: #676767;
$accent-color: #65362A;
$light-button-bg: #F9F6F3;
$dark-button-bg: #65362A;

$laptop-size: 1199px;
$tablet-size: 959px;
$mobile-size: 599px;