<article class="card">
  <picture>
    <source srcset="./images/cards/@@image.webp" type="image/webp" />
    <source srcset="./images/cards/@@image.jpg" type="image/jpeg" />
    <img
      src="./images/cards/@@image.png"
      alt="@@alt"
      class="card__image"
      loading="lazy"
    />
  </picture>

  <div class="card__overlay">
    <p class="schedule">@@schedule</p>
    <p class="info">@@info</p>
    <a href="#contacts" class="button card__button">Book a Class</a>
  </div>

  <div class="card__footer">
    <h3 class="card__title">@@classes</h3>
  </div>
</article>
